//
//  Secrets.plist
//  newsApp
//
//  Created by Muhammet Emre Kemancı on 8.05.2025.
//

<plist version="1.0">
<dict>
    <key>API_KEY</key>
    <string>"ccc8ca351emshdd01ae86f916af1p1736dajsn9c1133c61a61"</string>
    <key>API_HOST</key>
    <string>"real-time-news-data.p.rapidapi.com"</string>
</dict>
</plist>
