# Xcode
DerivedData/
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

# SwiftPM
.build/
Packages/
Package.pins
Package.resolved

# CocoaPods
Pods/

# Config files
Info.plist
Secrets.plist

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# SwiftPM binary artifacts
.artifacts/

# Xcode Patch
*.xccheckout
*.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings

# User-specific files
*.swp
.DS_Store
.idea/
*.xcuserstate
